@media (max-width: 767px) {
    .footer-column-1 {
        padding-bottom: 15px;
    }

    .footer-column-2 {
        padding-top: 17px;
        border-top: 1px solid #dadada;
    }

    table.cart td.product-remove {
        /* display: table-cell; */
        border-top: 0;
        /*padding: 0.5em;*/
        float: right;
        margin-top: 12px;
        margin-bottom: -44px;
        width: 33px;
        height: 28px;
    }

    table.cart .product-thumbnail img {
        max-width: 118px;
        height: auto;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        border-radius: 5px;
        float: left;
    }

    table.cart tr:first-child td.product-remove {
        border-top-width: 0;
        margin-top: 15px;
        margin-bottom: -44px;
    }

    table.cart tr.cart_item {
        border-bottom: 1px solid rgba(235, 235, 235, 1);
    }

    table.cart {
        border-collapse: collapse;
    }

    table tbody tr:nth-child(2n) td {
        background-color: #ffffff;
    }
    table.cart .product-thumbnail{
      padding-top: 10px;
    }

    table.cart .product-thumbnail img {
        margin-top: 2px;
        max-width: 88px;
        height: auto;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        border-radius: 5px;
    }

    table.cart td.product-name {
        width: calc(100% - 128px);
        text-align: left;
        font-size: 17px;
        float: right;
        margin-top: -123px;
    }
    table.cart td.product-price {
        display: none;
        font-size: 14px;
        float: right;
        margin-top: -82px;
    }

    table.cart td.product-quantity {
        width: calc(100% - 128px);
        text-align: left;
        font-size: 14px;
        float: right;
        margin-top: -85px;
    }

    table.cart td.product-subtotal {
        width: calc(100% - 128px);
        text-align: left;
        float: right;
        margin-top: -44px;
        font-size: 16px;
        font-weight: 400;
        color: rgba(225,64,28,1);
        padding-bottom: 30px;
    }

    table.cart td, table.cart th {
        padding: 0;
    }
    td.product-remove a.remove {
        width: 2.04em;
    }
    .alpha, h1 {
        text-align: center;
    }
    td.product-quantity input[type="number"] {
        height: 27px;
        width: 27px !important;
    }
    a.remove:before {
        padding-left: 2.5px;
        content: "\f00d";
    }
    table.shop_table_responsive tr td::before {
        display: none;
    }
    td span.n-added {
        padding: .25em .7em;
    }

    table.cart td.actions .coupon {
      padding-top: 10px;
    }
    header.site-header div.site-search .widget_product_search form, .widget_search form {
        display: none;
    }
    header.site-header button.menu-toggle:after, header.site-header button.menu-toggle:before, header.site-header button.menu-toggle span:before {
        background-color: rgba(255, 171, 8, 0.92);
    }
    .storefront-handheld-footer-bar ul li.cart > a::before {
        content: "\f07a";
    }
    .storefront-handheld-footer-bar ul li.cart .count, button.menu-toggle:after, button.menu-toggle:before, button.menu-toggle span:before {
        background-color: #ff8b13;
    }
    .storefront-handheld-footer-bar ul li.cart .count {
        margin-top: -6px;
        margin-left: 3px;
    }
    button.menu-toggle, button.menu-toggle:hover {
        color: #ff8b13;
        border-color: #ff8b13;
    }
    .page-template-template-homepage:not(.has-post-thumbnail) .site-main {
        padding-top: 1em;
    }
    .main-navigation ul {
        margin-top: -10px;
        text-align: right;
    }
    .site-footer .storefront-handheld-footer-bar a:not(.button) {
        color: #333333;
    }
    nav.main-navigation .toggled ul.menu li.current_page_item {
        color: #ff8b13;
    }
    div.menu ul li.current_page_item a {
        pointer-events: none;
        color: #ff7919 !important;
    }
    footer.site-footer .site-search {
        width: 100% !important;
    }
    .main-navigation div.handheld-navigation {
        position: absolute;
        top: 115px;
        right: 0;
        padding-right: 25px;
        background-color: white;
        width: 100%;
        box-shadow: 0 4px 2px -2px rgba(0,0,0,.7);
    }
    .storefront-handheld-footer-bar li.search.active a {
        color: #ff8b13;
    }
    .storefront-handheld-footer-bar li.footer-orange-icon a {
        color: #ff8b13 !important;
    }
    .storefront-handheld-footer-bar li.footer-orange-icon a span {
        background-color: #333333 !important;
    }
    .handheld-navigation .dropdown-toggle {
        top: 5px;
        right: 60px;
    }
    .handheld-navigation ul.menu .sub-menu {
        margin-left: 0;
        background-color: #ff62050f;
    }
    .handheld-navigation ul.menu .sub-menu a {
        padding-bottom: 5px;
        padding-top: 5px;
    }
    button:focus {
         outline: none;
    }
    .footer-column-2 {
        text-align: left;
    }
    .wc-proceed-to-checkout a.checkout-button {
      padding: 10px;
    }
    .hentry .wp-post-image {
        height: 300px;
        width: 300px;
    }
    .posted-on {
        font-size: 15px;
        font-weight: 500;
    }
}

