@media (min-width: 768px) {
  .site-header .site-branding {
    margin-right: 4% !important;
    max-width: 135px !important;
  }

  ul.nns-card {
    display: inline-block !important;
  }

  .site-search {
    width: calc(100% - 4% - 135px - 186px) !important;

  }

  .site-header .site-branding img {
    max-width: 120px;
  }

  .main-navigation ul.menu > li > a, .main-navigation ul.nav-menu > li > a {
    padding: 0.5em 1em;
  }

  /*.site-header-cart .widget_shopping_cart, .main-navigation ul.menu ul.sub-menu, .main-navigation ul.nav-menu ul.children {*/
  /*-webkit-box-shadow: 0 0 10px 6px rgba(69, 65, 78, 0.11);*/
  /*box-shadow:  0 0 10px 6px rgba(69, 65, 78, 0.11);*/
  /*}*/
  .storefront-primary-navigation {
    margin-bottom: 15px;
    -webkit-box-shadow: 0 4px 2px -2px rgba(69, 65, 78, .1);
    box-shadow: 0 4px 2px -2px rgba(69, 65, 78, .1);
  }

  .storefront-full-width-content .site-main ul.products.columns-4 li.product:hover {

    box-shadow: 0 0 10px 3px rgba(69, 65, 78, 0.16);
  }
  .site-footer {
    padding-bottom: 1.618em !important;
  }

  .footer-column-2 {
    width: 50%;
    float: right;
    border-left: 1px solid white;
    padding-left: 20px;
  }

  .footer-column-1 {
    width: 50%;
    float: left;
  }
  table.shop_table_responsive tbody tr td, table.shop_table_responsive tbody tr th {
    text-align: center;
  }
  .storefront-breadcrumb {
    padding: 1.41575em 0;
    margin: 0;
  }
  .storefront-full-width-content .woocommerce-products-header, .storefront-full-width-content.woocommerce-account .entry-header, .storefront-full-width-content.woocommerce-cart .entry-header, .storefront-full-width-content.woocommerce-checkout .entry-header {
    text-align: center;
    padding: 0 0 2.5em;
  }
}